

<%= form_for(@todo,html: {class: "form-horizontal"}) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group ">
    <%= f.label :title ,class: "col-sm-2 control-label text-info"%>
    <div class="col-sm-10">
    <%= f.text_field :title,class: "form-control ", :placeholder=>"Title"  %>
  </div>
  </div>
  
  <div class="form-group">
   <%= f.label :notes ,class: "col-sm-2 control-label text-info" %>
    <div class="col-sm-10">
   <%= f.text_area :notes, class: "form-control", :placeholder=>"Write your notes here..." %>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-success btn-lg" %>
   </div>
  </div>
 </form>
<% end %>

