<h1>Editing todo</h1>

<%= render 'form' %>

<%= link_to @todo , class: 'btn btn-success active' do %>
<i class="glyphicon glyphicon-plus"></i> Show
<% end %> |
<%= link_to todos_path , class: 'btn btn-success active' do  %>
<i class="glyphicon glyphicon-plus"></i> Back
<% end %>