<h1>Listing todos</h1>

<table class='table table-striped table-hover table-condensed table-bordered'>
  <thead>
    <tr class='danger'>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr class='warning'>
        <td><%= todo.title %></td>
        <td><%= todo.notes %></td>
        <td><%= link_to 'Show', todo , class: 'btn btn-primary ' %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure want to delete?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_todo_path, class: 'btn btn-success active' do %>
  <i class="glyphicon glyphicon-plus"></i> New Todo
<% end %>