<p id="notice"><%= notice %></p>

<p class="text-primary">>
  <strong><h2>Title:</h2></strong>
 <h2>  <%= @todo.title %></h2> 
</p>

<p class="text-info"> >
  <strong><h2>Notes:</h2></strong>
<h2>  <%= @todo.notes %> </h2>
</p>

<p class="text-muted">
<%= link_to edit_todo_path(@todo), class: 'btn btn-success active' do%> 
<i class="glyphicon glyphicon-plus"></i> Edit
<% end %>
<%= link_to todos_path, class: 'btn btn-success active' do %>
<i class="glyphicon glyphicon-plus"></i> Back
<% end %>
  
</p>