<!DOCTYPE html>
<html>
<head>
  <title>Design</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true , 'bootstrap-sprockets' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="main-container" class="container">
      <div class="row" >
        <div class="col-xs-3">
          <h3>Tealeaf Academy Todo</h3>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
